body {
  font-family: "Inter", sans-serif;

}

.content-dashboard {
  padding-top: 20px;
  margin-top: 20px;
}

.custome-color .menu-sidebar:hover {
  color: #43d7c2 !important;
}

.custome-color .menu-sidebar:active {
  color: #43d7c2 !important;
}

#listKonten {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px rgba(158, 153, 153, 0.2);
}

#listKonten:hover {
  background-color: rgb(236, 236, 236);

}

.custom-btn {
  background-color: #43d7c2;
}

.custom-btn:hover {
  background-color: #62b4a8;
}

.custom-text {
  color: #43d7c2;
}

.custome-input {
  outline: none;
  border: none;
}

.custome-size-p {
  font-size: 5px;
}

/* modal style */

.custom-text-a .tab {
  color: grey;
  cursor: pointer;
  position: relative;
}

.custom-text-a .tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2.5px;
  width: 0;
  background-color: #43d7c2;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.custom-text-a .tab:hover::before,
.custom-text-a .tab.active::before {
  width: 100%;
  left: 0;
  background-color: #43d7c2;
}

.custom-text-a .tab:hover {
  color: #43d7c2;
  transition: color 0.3s ease-in-out;
}

.custom-text-a .tab.active {
  color: #43d7c2;
}

.custome-bg-modal {
  margin: 16px;
  background-color: #47d0bd40;
  border-radius: 8px;
  padding: 4px;
  padding-left: 3rem;
  padding-top: 16px;
  color: grey;
}

/* avatar picks */
.avatar-container {
  margin: 10px;
  text-align: center;
  border: 2px solid #43d7c2;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.avatar-container.selected {
  background-color: #43d7c2;
}

.avatar-container:hover {
  background-color: #a9f1e7;
}

.btn-picks-avatar:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* profile ahli */

.profile-header {
  background-image: url('./assets/img/header-background.svg');
  background-position: center;
  height: 10rem;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fbfbfb;
  position: relative;
  margin: 5rem 0 0 1rem;
  z-index: 1;
}

.profile-info {
  margin: 5rem 0 0 1rem;
}

.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 2rem 0 0 0;
}

.tab {
  margin-right: 10px;
  cursor: pointer;
  padding: 8px 16px;
  position: relative;
  transition: color 0.3s ease;
}

.tab.active {
  color: #43D7C2;
}

.tab::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #43D7C2;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.tab:hover::before,
.tab.active::before {
  transform: scaleX(1);
}

.tab-content {
  display: none;
  margin: 1.5rem 0 0 0;
}

.tab-content.active {
  display: block;
}

.tab-divider {
  height: 2px;
  border: none;
  background-color: #ccc;
  margin: 0;
}


.text-content {
  color: grey;
}

/* layar mobile */

@media only screen and (max-width: 600px) {
  .judul-post {
    font-size: 17px;
  }

  .container {
    padding: 10px;
  }

  .content-dashboard {
    padding-top: 0;
    margin-top: 0;
  }

  .text-content {
    font-size: 14px;
    color: grey;
  }

  #listKonten {

    width: 95%;
  }
}


/* layar desktop */
@media (min-width: 992px) {
  .sidebar-desktop {
    position: fixed;
  }

  .post-desktop {
    margin-left: 270px;
  }
}