.custome-color a:hover {
  color: #43d7c2 !important;
}

.custome-color a:active {
  color: #43d7c2 !important;
}

#listKonten {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px rgba(158, 153, 153, 0.2);
}

#listKonten:hover {
  background-color: rgb(236, 236, 236);
}

.custom-btn {
  background-color: #43d7c2;
}

.custom-btn:hover {
  background-color: #62b4a8;
}

.custom-text {
  color: #43d7c2;
}

.custome-input {
  outline: none;
  border: none;
}

.custome-size-p {
  font-size: 5px;
}

/* modal style */

.custom-text-a .tab {
  color: grey;
  cursor: pointer;
  position: relative;
}

.custom-text-a .tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2.5px;
  width: 0;
  background-color: #43d7c2;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.custom-text-a .tab:hover::before,
.custom-text-a .tab.active::before {
  width: 100%;
  left: 0;
  background-color: #43d7c2;
}

.custom-text-a .tab:hover {
  color: #43d7c2;
  transition: color 0.3s ease-in-out;
}

.custom-text-a .tab.active {
  color: #43d7c2;
}

.custome-bg-modal {
  margin: 16px;
  background-color: #47d0bd40;
  border-radius: 8px;
  padding: 4px;
  padding-left: 3rem;
  padding-top: 16px;
  color: grey;
}

/* avatar picks */
.avatar-container {
  margin: 10px;
  text-align: center;
  border: 2px solid #43d7c2;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.avatar-container.selected {
  background-color: #43d7c2;
}

.avatar-container:hover {
  background-color: #a9f1e7;
}

.btn-picks-avatar:hover {
  cursor: pointer;
  transform: scale(1.05);
}