body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

.btn-danger {
  background: #ff6565 !important;
  outline: none;
  border: none;
}

.costume-text {
  color: #ff6565;
}

.costume-container {
  background-color: #43d7c2;
  height: 100vh;
  width: 100%;
}

/* start card */
.card-container {
  margin-top: 20%;
}

.line {
  border-bottom: 5px solid #43d7c2;
  width: 80px;
  display: inline-block;
  margin-top: 12px;
}

.costume-btn {
  background-color: #ff6565;
}

.costume-p {
  color: #888888;
}

/* end */
.costume-p-text {
  color: #888888;
  margin-top: 120px;
}

.costume-bot-bg {
  background-color: #43d7c2;

  height: 200px;
  margin-bottom: 5%;
}

.costume-img {
  max-width: 95%;
}

.hiddenX {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hiddenY {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* card animate */

.square:nth-child(2) {
  transition-delay: 200ms;
}

.square:nth-child(3) {
  transition-delay: 400ms;
}

.square:nth-child(4) {
  transition-delay: 600ms;
}
